#FC,#TC,body{
  -webkit-user-select:none;
  -moz-user-select:none;
  font-family:arial, sans-serif;
  font-size:13px;
  background:#dfe8f6
}

#FC,#TC,#TS,#N,body{
  border:0;
  margin:0;
  padding:0
}

#TC,#TS,#N,.header{
  width:100%
}

#FC,#N{
  left:0;
  top:0;
  height:100%
}

.FC,body{
  overflow:hidden
}

#TS{
  height:129px;
  overflow:visible
}

#FC,#TC,#TS,#N,.SI,.header{
  position:absolute
}

#FC{
  width:130px;
  margin-top:40px;
  overflow:auto
}

#TC{
  height:147px;
  overflow-x:scroll;
  bottom:0
}

#IB,.FC,#playpause,td{
  background: lightblue;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  padding:10px
}

#next{
  background:#90EE90
}

#timeline .frame{
  background:#FFF;
  width:120px;
  height:100px
}

.FC {
  height: 70px;
  margin: 10px;
}

#IB{
  background:#7ca0a5
}

#IB,#info,#playpause,#makefig{
  float:left
}

#IB,#playpause{
  padding:0 10px
}

#playpause{
  margin-top:-3px;
  font-size:x-large
}

.header{
  background:#9fcefc;
  padding-top:5px;
  height:29px
}

.SI{
  width:400px;
  height:35px
}

#info{
  margin-top:2px;
  font-size:large
}

td.selected{
  background:#007fff !important
}


