/* Approximate output size: 1134/1319 (0.8597422289613343%) */

body{
  -webkit-user-select:none;
  font-family:arial, sans-serif;
  font-size:13px
}

#figcont,#timecont,body{
  background-color:#DFE8F6
}

#canvas,#figcont,#timecont,#timescroll,body{
  margin:0;
  border:0;
  padding:0
}

#figures div.figcont,body{
  overflow:hidden
}

#timescroll{
  height:129px;
  overflow:visible
}

#canvas,#figcont,#timecont,#timescroll,.header,.subinfo{
  position:absolute
}

#canvas,#timecont,#timescroll,.header{
  width:100%
}

#canvas,#canvas{
  top:0
}

#canvas,#canvas,#figcont{
  left:0
}

#canvas,#figcont{
  height:100%
}

#figcont{
  width:130px;
  margin-top:40px;
  overflow:auto
}

#timecont{
  height:147px;
  overflow-x:scroll;
  bottom:0
}

#figures div.figcont,#timeline td{
  background-color:lightblue;
  padding:10px;
  border-radius:10px;
  -webkit-border-radius:10px
}

td#next{
  background-color:lightgreen
}

#timeline div.frame{
  width:120px;
  height:100px;
  background-color:white
}

#infobox{
  padding:0 10px 0 10px;
  display:none;
  float:left;
  background-color:#7ca0a5;
  -webkit-border-radius:5px
}

#figures div.figcont{
  margin:10px;
  height:70px
}

.header{
  background-color:#9FCEFC;
  padding-top:5px;
  height:29px
}

.header,.subinfo{
  opacity:0.75;
  z-index:2
}

.subinfo{
  width:400px;
  height:35px
}

td.selected{
  background-color:#007fff !important
}


